*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #FCFBF9;
  color:#4B5665;
}

h1,h2,h3,h4,h5,h6{
  color:#2C384A
}

input{
  background-color: transparent;
}

a{
  text-decoration: none;
}

ul li{ 
  cursor: pointer;
}

.btn{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1B88F4;
    color: #0A1617;
    border-radius: 8px;
    line-height: 33px;
    font-size: 1.125rem;
    padding: 0 40px;
    /* outline: none; */
    font-weight: 500;
    padding: 1rem 2rem;
    color: #1B88F4;
    background-color:white
}

.btn:hover {
  text-decoration: none !important;
  transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  transform: scale(1.02);
}

.role{
  background-color: #0A1617;
  color:white;
}

.role.active{
  color: rgb(11, 16, 71);
  background-color:white;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    
}

.internship-swiper .swiper-slide:nth-child(1){
  margin-left: 2.75rem;
}


.dropdown{
  position: relative;
  padding: 0rem;
}

.dropdown:hover .dropcontent{
  display: block;
}

.dropbtn{
  padding:0 0.4rem
}

.dropcontent{
  display: none;
  width:max-content;
  position: absolute;
  padding: 0.5rem 0.3rem;
  margin:0.1rem 0;
  border:1.6px solid #c4c3c3;
  transform:translate(-0.6rem,0.25rem);
  border-radius:0.75rem;
  background-color: var(--bg-color);
}

.dropcontent p{
  padding: 0.13rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0.25rem;
  border-radius: 0.75rem;
}

.dropcontent p span{
  color:var(--icon-color);
}

.dropcontent p:hover{
  color:var(--icon-hover-color);
  background-color: #85858522;
}

@media screen and (max-width:786px){
  .dropcontent{
      transform:translate(-1.1rem,0.4rem);
  }
}